/* 
	Global classes 
					*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

li img, .img-frame{

	max-width: 200px;
}

h2, h3{
	text-align: center;
}

.page-frame{
	width:80%;
	max-width:900px;
	margin: 0 auto;
}

.page-header{
	margin-bottom: 20px;
	padding-top: 10px;
	background-color: pink;
}

.page-header h1{
	text-align: center;
	margin-bottom: 10px;
}

.nav-primary{
	background-color: hsl(0, 0%, 90%);
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-primary ul{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0 auto;
	width: 25ch;
}

a, .nav-primary a{
	text-decoration: none;
	color: hsl(350, 50%, 50%);
	border-bottom: 1px dashed hsl(0, 0%, 90%);
}

.nav-primary a{
	font-weight: bold;
}

a:hover, .nav-primary a:hover{
	border-bottom: 1px dashed hsl(350, 40%, 40%);
	transition: all 1s ease;
	color: hsl(350, 40%, 40%);

}

main {
	border: 1px solid pink;
	padding: 20px;
}

.page-footer{
	text-align: center;
	margin-top: 10px;
}

/* home page */

.projects{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.projects h2{
	grid-column: 1 / -1;
}

.about-me{
	margin-bottom: 10px;
	padding-bottom: 5px
}

.about-me p{
	margin-top: 10px;
}

.projects .project{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.project h3{
	margin-top: auto;
	margin-bottom: 10px;

}

.moreinfo{
	margin-top: 10px;
}

.moreinfo h3{
	margin-top: 10px;
}

.moreinfo-des{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;

}

.clinks, .olinks{
	padding: 10px;
	text-align:center;
}

ul{
	list-style: none;
}

/* about page */

.intro p{
	text-align:center;
	margin-top:5px;
}

.intro{
	margin-bottom: 10px;
}
.interests{
	display:flex;
	justify-content: space-around;
	list-style-type: none;
	margin-top: 10px;
}

.interests-sec{
	margin-top: 10px;
	margin-bottom: 5px;
}


.passions{
	margin-top: 10px;
	margin-bottom: 10px;
}

.passion1 p{
	text-align: center;
}

.passion1 .description{
	margin-top: 10px;
	margin-bottom: 5px;
}

.video{
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.feed{
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.passion2 p{
	text-align: center;
}

.passion2 .description{
	margin-top: 10px;
	margin-bottom: 5px;
}

.res-div p{
	text-align: center;
	margin-top:5px;
}
/* contact page */

.page-contact h2{
	margin-bottom: 10px
}

address{
	font-style: normal;
	margin: 0 auto;
	width: 65ch;
	
}

address div{
	margin-bottom: 10px;
}

address .contact-type{
	width: 20ch;
	text-align: right;
	display: inline-block;
	color: gray;
}

.contact-form{
	width: 500px;
	margin: 0 auto;
	margin-top: 10px;
}

fieldset{
	margin-bottom: 10px;
	padding: 10px;
}

fieldset.gender{
	text-align: center;
}

fieldset.gender label{
	padding:0 5px;
	margin: 0 5px;
}

fieldset.personal .item{
	margin-bottom: 5px;
}

fieldset.personal label{
	font-size: 90%;
	color: #333;
}

fieldset.personal span{
	font-size: 80%;
	color: #333;
}

fieldset.personal .items{
	margin-left: 5px;
}
